@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    pointer-events: default;
  }
}

@layer components {
  .banner-header {
    width: 15ch;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes reverse-scroll {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }

  /* .animate-scroll:hover {
    animation-play-state: paused;
  } */

  .animate-reverse-scroll {
    animation: reverse-scroll 30s linear infinite;
  }
}
